<header>
    {{> nav}}
</header>
<section class="m-3 p-3">
    <h2 class="text-center">Welcome To The MarketPlace <span class="text-primary text-capitalize" id="user-id" data-user="{{user}}">{{username}}</span></h2>
    <p class="text-center">Welcome to the marketplace! Browse all listed items and bid on any you're interested in.
        <br />
        To bid on an item, simply click the "Send Bid" button and your information will be sent to the item's owner.
    </p>
</section>
<section id="bid-listener">
    {{!-- ITERATES THROUGH ALL PRODUCT DATA --}}
    {{#each products as |item| }}
    <article class="row m-2 p-2 border border-primary rounded">
        <div class="col-4">
            <!-- added the image display -->
            {{#if item.file_path}}
            <img src="/uploads/{{item.file_path}}" width="300px"; />
            {{else}}
            <h3 class="text-center font-italic">Image <br> Coming <br> Soon</h3>
            {{/if}}
        </div>
        <div class="col-6 card m-2 p-2">
            <h3 class="card-title text-dark">{{item.product_name}}</h3>
            <div class="card-text text-dark p-2 mb-1">
                <p>
                    Descripton: {{item.description}}
                    <br />
                    Category: {{item.category.category_name}}
                    <br />
                </p>
                <button id="send-bid" data-product="{{item.id}}" class="btn btn-primary p-2">Send Bid</button>
            </div>
        </div>
    </article>
    {{/each}}
</section>

<script src="/javascript/bid.js"></script>
