<header>
    {{> nav}}
</header>
<section class="mt-3">
    <h2 class="text-center">Your Listings</h2>
    <p class="text-center">Welcome to your listings! Below you can see all the items you've listed, any bids you've received, and have the option to mark any listings as "closed".</p>
</section>
<section>
    {{!-- ITERATES THROUGH ALL PRODUCT DATA --}}
    {{#each dbproducts as |item| }}
    <article class="card m-2 p-2">
        <h3 class="card-title text-dark">{{item.product_name}}</h3>
        <div class="card-text text-dark p-2 mb-1">
            <p>
                Descripton: {{item.description}}
                <br />
                Category: {{item.category.category_name}}
                <br />
                <!-- added the image display -->
                <img src="/uploads/{{item.file_path}}" width:100px; />
            </p>
        </div>
        {{#if item.comments}}
        <div class="row">
            <h4 class="col-3 border-right">Bids</h4>
            <ul class="col-19" style="list-style: none;">
                {{#each item.comments as |bid|}}
                <li>Bid from <span class="font-weight-bold">{{bid.user.username}}</span>: {{bid.comment_text}}</li>
                {{/each}}
            </ul>
        </div>
        {{/if}}
        <button id="close-listing" class="btn btn-primary p-2">Close Listing</button>
    </article>
    {{/each}}
</section>

{{!-- <script src="/javascript/closeProduct.js"></script> --}}

