<header>
    {{> nav}}
</header>
<section>
    <h2 class="text-center">Your Listings</h2>
    <p class="text-center">Welcome to your listings! Below you can see all the items you've listed, any bids you've received, and have the option to mark any listings as "closed".</p>
</section>
<section>
    {{!-- ITERATES THROUGH ALL PRODUCT DATA --}}
    {{#each dbproducts as |item| }}
    <article class="card m-1 p-1">
        <h3 class="card-title text-dark">{{item.product_name}}</h3>
        <div class="card-text text-dark p-2 mb-1">
            <p>
                Descripton: {{item.description}}
                <br />
                Category: {{item.category.category_name}}
            </p>
        </div>
        {{#if item.comments}}
        <h4>Bids</h4>
        <ul class="border-top border-5 border-black pt-2" style="list-style: none;">
            {{#each item.comments as |bid|}}
            <li>{{bid.comment_text}} / Bid from {{bid.user.username}}</li>
            {{/each}}
        </ul>
        {{/if}}
        <button class="btn btn-primary p-2">Close Listing</button>
    </article>
    {{/each}}
</section>

